In [1]:
import pandas as pd
import time
from ast import literal_eval
import numpy as np

import Filter2 as fil2

from pymongo import MongoClient

In [2]:
client = MongoClient()
db = client.test_database
collection = db.test_collection

db.list_collection_names()

['restaurants_change', 'reviews_mini', 'reviews', 'posts', 'restaurants']

In [6]:
reviews_mini0 = db.reviews_mini
reviews_mini0.count_documents({})

3346024

In [7]:
reviews0 = db.reviews
reviews0.count_documents({})

3346024

In [8]:
reviews_mini1 = pd.DataFrame(list(reviews_mini0.find({})))
reviews_mini1

,_id,business_id,new_name,date,stars,lemmas
0,5e00d940729972ad82fd2f14,4JNXUYY8wbaaDmk3BPzlWw,"""Mon Ami Gabi"" - 89109",2017-08-02,5,"[do, miss, peppercorn, steak, peppercorn, slig..."
1,5e00d940729972ad82fd2f15,4JNXUYY8wbaaDmk3BPzlWw,"""Mon Ami Gabi"" - 89109",2013-03-16,3,"[great, place, come, summer, patio, seat, give..."
2,5e00d940729972ad82fd2f16,4JNXUYY8wbaaDmk3BPzlWw,"""Mon Ami Gabi"" - 89109",2013-01-04,4,"[mon, ami, gabi, practically, landmark, fact, ..."
3,5e00d940729972ad82fd2f17,4JNXUYY8wbaaDmk3BPzlWw,"""Mon Ami Gabi"" - 89109",2010-07-02,4,"[do, vega, little, every, year, past, year, ni..."
4,5e00d940729972ad82fd2f18,4JNXUYY8wbaaDmk3BPzlWw,"""Mon Ami Gabi"" - 89109",2017-08-04,5,"[start, french, vega, local, time, time, like,..."
...,...,...,...,...,...,...
3346019,5e00d95b729972ad82303d77,nD_7R5bVxRYNHKv_dGlhBA,"""Timbers Rancho"" - 89130",2017-08-18,1,"[bar, absolute, trash, come, spend, 150, dolla..."
3346020,5e00d95b729972ad82303d78,nD_7R5bVxRYNHKv_dGlhBA,"""Timbers Rancho"" - 89130",2017-10-13,4,"[nice, place, non, smoker, although, folk, enj..."
3346021,5e00d95b729972ad82303d79,nCjsK9-_xH0bxuEqdAc8TA,"""Budweiser Racing Track Bar & Grill"" - 89119",2009-05-22,5,"[kid, 1, star, okay, let, say, bar, also, know..."
3346022,5e00d95b729972ad82303d7a,nCjsK9-_xH0bxuEqdAc8TA,"""Budweiser Racing Track Bar & Grill"" - 89119",2013-05-14,2,"[14, 35, beer, coke, okay, price, airport, oka..."
3346023,5e00d95b729972ad82303d7b,kqW_BKO3XCOx8ifbzQsnGA,"""McDonald's"" - M4C 1H9",2015-12-23,2,"[mcd, several, time, close, proximity, lately,..."

In [9]:
reviews1 = pd.DataFrame(list(reviews0.find({})))
reviews1

,_id,business_id,stars,date,text,name,postal_code,ccur,lemmas
0,5dff854448cc11dacfa82eb3,4JNXUYY8wbaaDmk3BPzlWw,5,2017-08-02,Dont miss the peppercorn steak . The peppercor...,"""Mon Ami Gabi""",89109,7328,"[do, miss, peppercorn, steak, peppercorn, slig..."
1,5dff854448cc11dacfa82eb4,4JNXUYY8wbaaDmk3BPzlWw,3,2013-03-16,This is a great place to come during the summe...,"""Mon Ami Gabi""",89109,7328,"[great, place, come, summer, patio, seat, give..."
2,5dff854448cc11dacfa82eb5,4JNXUYY8wbaaDmk3BPzlWw,4,2013-01-04,Mon Ami Gabi is practically a landmark. In fac...,"""Mon Ami Gabi""",89109,7328,"[mon, ami, gabi, practically, landmark, fact, ..."
3,5dff854448cc11dacfa82eb6,4JNXUYY8wbaaDmk3BPzlWw,4,2010-07-02,Having done Vegas (at least once) every year f...,"""Mon Ami Gabi""",89109,7328,"[do, vega, little, every, year, past, year, ni..."
4,5dff854448cc11dacfa82eb7,4JNXUYY8wbaaDmk3BPzlWw,5,2017-08-04,"To start with, I'm French and I'm a Vegas loca...","""Mon Ami Gabi""",89109,7328,"[start, french, vega, local, time, time, like,..."
...,...,...,...,...,...,...,...,...,...
3346019,5dff855f48cc11dacfdb3d16,nD_7R5bVxRYNHKv_dGlhBA,1,2017-08-18,Bar is absolute trash. Came in spend over 150 ...,"""Timbers Rancho""",89130,11,"[bar, absolute, trash, come, spend, 150, dolla..."
3346020,5dff855f48cc11dacfdb3d17,nD_7R5bVxRYNHKv_dGlhBA,4,2017-10-13,Nice place! I am a non-smoker and although a f...,"""Timbers Rancho""",89130,11,"[nice, place, non, smoker, although, folk, enj..."
3346021,5dff855f48cc11dacfdb3d18,nCjsK9-_xH0bxuEqdAc8TA,5,2009-05-22,Are you kidding me?? 1 star? \r\r\r\n\r\r\r\nO...,"""Budweiser Racing Track Bar & Grill""",89119,11,"[kid, 1, star, okay, let, say, bar, also, know..."
3346022,5dff855f48cc11dacfdb3d19,nCjsK9-_xH0bxuEqdAc8TA,2,2013-05-14,$14.35 for a beer and a coke. \r\r\r\n\r\r\r\n...,"""Budweiser Racing Track Bar & Grill""",89119,11,"[14, 35, beer, coke, okay, price, airport, oka..."
3346023,5dff855f48cc11dacfdb3d1a,kqW_BKO3XCOx8ifbzQsnGA,2,2015-12-23,I've been to this Mcd several times being clos...,"""McDonald's""",M4C 1H9,11,"[mcd, several, time, close, proximity, lately,..."

In [14]:
reviews2 = reviews1.copy().head(10)
del reviews2["_id"]
del reviews2["business_id"]
del reviews2["lemmas"]
del reviews2["ccur"]
reviews2["new_name"] = reviews2["name"] +" - "+ reviews2["postal_code"]
del reviews2["name"]
del reviews2["postal_code"]
reviews2

,stars,date,text,new_name
0,5,2017-08-02,Dont miss the peppercorn steak . The peppercor...,"""Mon Ami Gabi"" - 89109"
1,3,2013-03-16,This is a great place to come during the summe...,"""Mon Ami Gabi"" - 89109"
2,4,2013-01-04,Mon Ami Gabi is practically a landmark. In fac...,"""Mon Ami Gabi"" - 89109"
3,4,2010-07-02,Having done Vegas (at least once) every year f...,"""Mon Ami Gabi"" - 89109"
4,5,2017-08-04,"To start with, I'm French and I'm a Vegas loca...","""Mon Ami Gabi"" - 89109"
5,2,2013-06-30,"First, you go here for the view of the Bellagi...","""Mon Ami Gabi"" - 89109"
6,4,2013-06-07,Very pleasant experience and great service!\r\...,"""Mon Ami Gabi"" - 89109"
7,4,2014-11-20,Great spot right on the strip. Lunch and break...,"""Mon Ami Gabi"" - 89109"
8,4,2014-01-13,"Firstly, make a reservation at this place! Do ...","""Mon Ami Gabi"" - 89109"
9,4,2014-01-11,This place is excellent. My friends and I were...,"""Mon Ami Gabi"" - 89109"

In [15]:
posts0.insert_many(reviews2.to_dict('records'))

In [16]:
posts0 = db.posts
posts0.count_documents({})

10

In [ ]:
from cubes import Workspace

In [ ]:
print("asdf")